<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARthur Clarke</title>
</head>
<body>
    <h1>Tim berners-lee</h1>
    <img src="/img/arthur c clarke.jpg" alt="">
    <p>Arthur Charles Clarke, más conocido como Arthur C. Clarke, fue un escritor y científico británico. Autor de obras de divulgación científica y de ciencia ficción, como la novela 2001: Una odisea del espacio, El centinela o Cita con Rama y coguionista de la película 2001: Una odisea del espacio.</p>
    <nav>
        <ul type="none">
            <li>
                <a href="/">Inicio</a>
                <a href="/babbage">Charles Babbage</a>
                <a href="berners-lee">Tim Berners-Lee</a>
                <a href="clarke">Arthur Clarke</a>
                <a href="hamilton">Margaret Hamilton</a>
                <a href="hopper">Grace Hopper</a>
                <a href="lovelace">Ada Lovelace</a>
                <a href="turing">Alan Turing</a>
            </li>

        </ul>
    </nav>
</body>
</html>