<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
</head>
<body>
    <h1>Bienvenidos a la pagina de las Heroínas y los Héroes
        Tecnológicos</h1>
        <p>Esta pagina esta creada y destinada al recuerdo de las grandes personalidades que fueron muy representativos para que hoy se peuda hablar del mundo de la Programacion</p>
        <nav>
            <ul type="none">
                <li>
                    <a href="/">Inicio</a>
                    <a href="/babbage">Charles Babbage</a>
                    <a href="berners-lee">Tim Berners-Lee</a>
                    <a href="clarke">Arthur Clarke</a>
                    <a href="hamilton">Margaret Hamilton</a>
                    <a href="hopper">Grace Hopper</a>
                    <a href="lovelace">Ada Lovelace</a>
                    <a href="turing">Alan Turing</a>
                </li>

            </ul>
        </nav>
</body>
</html>