<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
</head>
<body>
    <h1>Ada Lovelace</h1>
    <img src="/img/ada lovelace.jpg" alt="">
    <p>Pionera de la informática, crea el primer programa informático de la historia en 1843. Servirá para crear el antepasado del ordenador: la máquina analítica de Charles Babbage. Ada Lovelace es, por lo tanto, la primera programadora del mundo.
        Además, describió las posibilidades de las calculadoras universales que iban mucho más allá del cálculo numérico y lo que Babbage y sus contemporáneos imaginaron.</p>
    <nav>
        <ul type="none">
            <li>
                <a href="/">Inicio</a>
                <a href="/babbage">Charles Babbage</a>
                <a href="berners-lee">Tim Berners-Lee</a>
                <a href="clarke">Arthur Clarke</a>
                <a href="hamilton">Margaret Hamilton</a>
                <a href="hopper">Grace Hopper</a>
                <a href="lovelace">Ada Lovelace</a>
                <a href="turing">Alan Turing</a>
            </li>

        </ul>
    </nav>
</body>
</html>