<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
</head>
<body>
    <h1>alan Turing</h1>
    <img src="/img/alan turing.jpg" alt="">
    <p>El hombre nunca podría haber caminado sobre la luna sin la ayuda de una mujer, en este caso Margaret Hamilton, quien corrigió a mano los programas de la misión Apolo 11.
        Así, anticipó ciertas averías de algunos componentes electrónicos e hizo que la orden de alunizaje fuera funcional. Es a ella y a su trabajo a quienes debemos el éxito de la misión.
        En esa época, la parte de desarrollo de software a menudo se reservaba para las mujeres porque se consideraba menos importante.</p>
    <nav>
        <ul type="none">
            <li>
                <a href="/">Inicio</a>
                <a href="/babbage">Charles Babbage</a>
                <a href="berners-lee">Tim Berners-Lee</a>
                <a href="clarke">Arthur Clarke</a>
                <a href="hamilton">Margaret Hamilton</a>
                <a href="hopper">Grace Hopper</a>
                <a href="lovelace">Ada Lovelace</a>
                <a href="turing">Alan Turing</a>
            </li>

        </ul>
    </nav>
</body>
</html>